.tag-selector {
    width: 100%;
    h5 {
        text-align: center;
        font-size: 14px;
    }

    p {
        margin: 10px 0;
    }

    .tag-list {
        min-height: 30px;
        .tag-item {
            margin: 10px;
        }
    }
}