.utils-manage {
    width: 100%;
    background: #fff;
    min-height: 200px;
    ul {
        margin: 0;
        padding: 0;
    }
    
    .util-table {
        width: 100%;
        text-align: center;
        .label-list {
            width: 100%;
            list-style: none;
            display: flex;
            margin-bottom: 10px;
            padding: 10px 0;
            border-bottom: 2px solid #cdcdcd;
            .label-item {
                flex: 1;
                text-align: center;
            }
        }
        
        .util-list {
            width: 100%;
            list-style: none;
            .util-item {
                width: 100%;
                // border: 1px solid;
                // padding: 5px;
                // box-sizing: border-box;

                .util-info-list {
                    width: 100%;
                    display: flex;
                    list-style: none;
                    border-bottom: 1px solid #000;
                    padding: 10px 0;
                    li {
                        flex: 1;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .util-info-logo {
                        text-align: center;
                        img {
                            display: block;
                            width: 64px;
                            height: 64px;
                            border-radius: 50%;
                        }
                    }

                }
            }
        }
    }
    
}